aiohttp==3.8.1
aiosignal==1.2.0
astunparse==1.6.3
async-timeout==4.0.1
attrs==21.2.0
braceexpand==0.1.7
charset-normalizer==2.0.9
click==8.0.3
frozenlist==1.2.0
greenlet==1.1.2
idna==3.3
import-expression==1.1.4
jishaku==2.3.2
multidict==5.2.0
psycopg2-binary==2.9.2
pydantic==1.8.2
six==1.16.0
SQLAlchemy==1.4.27
typing-extensions==4.0.1
yarl==1.7.2
